@model SelfDestructAjax.Models.HomeModel



<html>
    <head>
        <title>@Model.PageTitle</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="~/Styles/Home.css" rel="stylesheet" />
    </head>

<body>
    <script src="~/Scripts/Home.js"></script>
    
        <h1>MISSION POSSIBLE</h1>
        <div class ="box">
            <p>Your Mission Marianne Should you take it, is to:
                <br /><strong>GET THIS PROJECT RIGHT!</strong> 
                <br />This Message will self Destruct in.
            </p>
            <div class="button">Destruct Button</div>
        </div>
       

   
</body>
</html>
